<IfModule mod_rewrite.c>
Options All -Indexes
IndexIgnore *.json
# Options +FollowSymlinks
RewriteEngine On

# Don't rewrite files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule (.*) /~dluong1/csel-test/index.html [L]
</IfModule>

<FilesMatch "(\.(json)|~)$">
    ## Apache 2.2
    Order allow,deny
    Deny from all
    Satisfy All

    ## Apache 2.4
    # Require all denied
</FilesMatch>
